body {
    background-image: url(https://images.pexels.com/photos/3052361/pexels-photo-3052361.jpeg?auto=compress&cs=tinysrgb&w=600);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: azure;
    margin: 1px;
}

.container {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px blue;
    width: 300px;
}

h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 3px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: hsl(225, 61%, 41%);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: hsl(246, 61%, 33%);
}

#itemsList {
    margin-top: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

.item button {
    background-color:black;
    border: none;
    padding: 5px;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.item button:hover {
    background-color: hsl(246, 61%, 33%);
}
